.jumbotron{
    background:linear-gradient(rgba(179, 241, 8)50%,rgba(7, 230, 74)100%);
    margin-top: 20px;
    
}

label, input{

    display: block;
}
.d-flex flex-wrap{
padding: 20px 20px 20px 20px;

}
    footer{
    padding: 0;
    background:#0a013b;
    margin-bottom: 0px;
    margin-top: 20px;
    color: aliceblue;
}

.card-gym{
    flex: 1 200px;
    text-align: justify;
   
    margin-top: 30px;
   
}


.btn-reservas{
width: 100%;
border-radius: 0px;
}

#logo_pequeño{
border-radius: 10em;
width: 3em;
height: 3em;

animation-name: logo; 
animation-duration: 1s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate-reverse;
}

.footer-adress-icon{
    padding: 10px;
}

form{

    background:linear-gradient(rgba(179, 241, 8)0%,rgb(235, 230, 228)100%),url(../img/ima_13.jpg);
    border-style: groove;
}

.card-header{
    margin-bottom: 0px;
}

.tamaño-imagen{
    height: 200px;
    width: 225px;
}

.tamaño-carrusel{
    margin-top: 40px;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100vw;
    height: 40vw;
  
}

.imagen-jumbo{

    border-radius: 10em;
    width: 3em;
    height: 3em;
    float: right;
    -webkit-box-shadow: 10px 10px 5px rgba(240, 9, 9);
    -moz-box-shadow: 10px 10px 5px rgba(12, 78, 219);
    filter: shadow(color=#f1f509, direction=-135, strength=2);
}